@import "tailwindcss";

@font-face {
	font-family: Kodenmachou;
	src: url("./assets/fonts/KH-Dot-Kodenmachou-12.ttf");
}

@theme {
	--font-koden: "Kodenmachou", "sans-serif";
	--color-primary: #45bee9;
	--color-secondary: #a1a0a4;
}

@layer base {
	html {
		background-color: #c9c9c9;
	}
}
