@import "tailwindcss";

@font-face {
	font-family: Kodenmachou;
	src: url("./assets/fonts/KH-Dot-Kodenmachou-12.ttf");
}

@theme {
	--font-koden: "Kodenmachou", "sans-serif";
	--color-primary: #9ceeff;
	--color-secondary: #8a8a8a;
}
